HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
/tmp-dirs
/tmp-zips

### VS Code ###
.vscode/

/src/main/java/com/semanta/share/config
/src/main/resources/tmp-dirs
/src/main/resources/tmp-zips
